<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    <a class="navbar-brand text-dark" href="/admin_dashboard">Welcome <h2 class="text-white"><%= name %></h2></a>
    <div class="container-fluid col-md-6">
            <a href="/admin/admin_logout" class="btn btn-info ">Logout</a>
    </div>
    <form action="/admin/student" method="POST" id="Form" class="form-inline my-2 my-lg-0"
         ></form>
    <input form="Form" name="student_id" class="form-control mr-sm-2" type="text" placeholder="Enter Student ID">
    <button form="Form" class="btn btn-secondary my-2 my-sm-0" type="submit">Search</button>
</nav>
<a onclick="return confirm('Are you sure?')" href="/admin/allotment" class="btn btn-success btn-lg btn-block text-white">Start Allotment</a>