<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    <a class="navbar-brand text-dark" href="/dashboard"><h5 class="text-white">Hello, <br> <strong><%= name %></strong></h5></a>
    <div class="container-fluid col-md-6">
        <div class="card text-white bg-danger mb-3" style="max-width: 20rem;">
            <div class="card-body">
                <h4 class="card-title text-center">Roll Number: <strong><%= student_id %></strong></h4>
            </div>
        </div>
        <div class="card text-white bg-success mb-3" style="max-width: 20rem;">
            <div class="card-body">
                <h4 class="card-title text-center">CGPI: <strong><%= cgpi %></strong></h4>
            </div>
        </div>
        <a href="/users/logout" class="btn btn-info"><strong>Logout</strong></a>
    </div>
</nav>
<div class="col-md-4 card text-white bg-info mb-3 text-center container-fluid mt-5" style="position:fixed;
    top: 40%;
    left: 50%;
    width:30em;
    margin-top: -9em;
    margin-left: -15em">
    <div class="card-header">You have got <strong><%= alloted.toUpperCase() %></strong></div>
</div>