<div class="col-md-6 m-auto">
    <div class="card card-header text-center">
        <div class="text-center">
            <a href="/"><img src="/images/logo.png" alt="Error" width="20%"></a>
        </div>
    </div>
    <div class="card card-body text-center">
        <div class="container-fluid mt-2">
            <a href="/users/register" class="btn btn-primary btn-block mb-2">Register</a>
            <a href="/users/student_login" class="btn btn-dark btn-block mb-2">Student Login</a>
            <a href="/users/admin_login" class="btn btn-info btn-block ">Admin Login</a>
        </div>
    </div>
</div>


